/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */

.desktop {
  display: none;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.skills-bar {
  text-align: center;
  height: 40px;
}

.about-me span {
  color: red;
  font-style: italic;
}

.example-section article {
  text-align: center;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-bar {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.contact-bar ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  width: 100px;
}

nav {
  height: 100px;
  background-color: purple;
  display: flex;
  justify-content: space-around;
}

.btn-group {
  margin: auto;
  background-color: transparent;
}

.btn-group button {
  color: black;
  background-color: white;
  border-color: black;
  border-radius: 50px;
}

/* replace below with classes when ready */

#example1 {
  background-color: red;
}

#example2 {
  background-color: orange;
}

#example3 {
  background-color: yellow;
}

#example4 {
  background-color: green;
}

#example5 {
  background-color: blue;
}
/* /////////////////////////////////// */

@media screen and (min-width: 768px) {
  .mobile  {
    display: none;
  }

  .desktop {
    display: block;
  }

  body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  header {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .title-bar{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;;
  }

  header ul {
    list-style-type: none;
    display: flex;
  }

  header .nav-buttons {
    grid-column: 6 / 8;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
  }

  .header-icons {
    display: flex;
    justify-content: space-between;
  }

  .carousel {
    grid-column: 1 / 8;
    grid-row: 2 / 5;
  }

  .contact-me {
    grid-column: 1 / 8;
    grid-row: 5 / 6;
  }






}